<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn btn-primary" href="/recipes/create/">Create a recipe</a>
            &nbsp
            <form class="d-flex" method="post" th:action="@{/recipes/filter}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="title">
                &nbsp
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            &nbsp
            <a class="btn btn-primary" href="/meals/create/">Create a meal</a>
            &nbsp
            <a href="/recipes" class="btn btn-primary">All recipes</a>
            &nbsp
            <a href="/meals" class="btn btn-primary">All meals</a>
            &nbsp
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign out" class="btn btn-primary">
        </form>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div th:each="meal : ${meals}" class="col">
            <div class="card">
                <h2 th:text="${meal.name}"/>
                <span>
                    Created by:
                    <a th:text="${meal.author.username}" th:href="@{'/user/' + ${meal.author.id}}" />
                </span>
                <a class="btn btn-primary" th:href="@{'/meals/' + ${meal.id}}">Читати повністю</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>